@import 'mixins';

div.pane
{
  position: absolute;
  margin: 0;
  border: none;
}

$paneWidth : 200px;

div#menuPane
{
  @extend div.pane;
  top: 0;
  left: $paneWidth;
  @include calc(width, #{"100% -  #{$paneWidth * 2}"});
  height: $paneWidth / 2;
}

div#enemyPickerPane
{
  @extend div.pane;
  top: 0;
  left: 0;
  width: $paneWidth;
  height: 100%;
}

div#heroPane
{
  @extend div.pane;
  bottom: 0;
  left: $paneWidth;
  @include calc(width, #{"100% -  #{$paneWidth * 2}"});
  height: $paneWidth;
}

div#shopPane
{
  @extend div.pane;
  top: 0;
  right: 0;
  height: 100%;
  width: $paneWidth;
}

div#actionPane
{
  @extend div.pane;
  top: $paneWidth / 2;
  left: $paneWidth;
  @include calc(width, #{"100% -  #{$paneWidth * 2}"});
  @include calc(height, #{"100% -  #{$paneWidth * 3/2}"});
}