@mixin calc($property, $expression...) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin box-sizing($expression...) {
  box-sizing: $expression;
  -moz-box-sizing: $expression;
  -webkit-box-sizing: $expression;
  -o-box-sizing: $expression;
}
